@charset "UTF-8";
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.outside {
  text-align: center;
}
.content__content--img1 {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/images/経営理念ページへ背景画像@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.content__content--img2 {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/images/理念1背景画像@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.content__content--img3 {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/images/理念2背景画像@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.content__content--img4 {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(/images/理念3背景画像@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.content__content--inner {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .content__content--inner {
    font-size: 1.5625rem;
    letter-spacing: 0.125rem;
    line-height: 2.16;
  }
}
.content__content--inner span {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content__content {
  display: block;
  max-width: 187.5px;
  max-width: 11.71875rem;
  width: 100%;
  background-color: #f00;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .content__content {
    max-width: 20rem;
    width: 100%;
  }
}
.content__content::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 89.3617%;
}
.content__content::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}
.content__content:hover::after {
  background-color: rgba(255, 255, 255, .6);
}
.content__contents--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content__inner {
  background-color: #111;
}
.content__title--inner {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #fff;
  padding-top: 49px;
  padding-top: 3.0625rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .content__title--inner {
    font-size: 1.875rem;
    letter-spacing: 0.125rem;
    line-height: 1.1666;
    padding-top: 2.75rem;
    padding-bottom: 3rem;
  }
}
.content__title--inner::before {
  content: "Content";
  display: inline-block;
  width: 100%;
  font-family: "Noto Serif JP", serif;
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.44;
  color: #f9f871;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -90%);
          transform: translate(-50%, -90%);
}
@media screen and (min-width: 768px) {
  .content__title--inner::before {
    font-size: 6.875rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
    line-height: 1.4363;
    position: absolute;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(-27%, 0%);
            transform: translate(-27%, 0%);
  }
}
.content {
  display: inline-block;
  max-width: 375px;
  max-width: 23.4375rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .content {
    display: block;
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */
